.header {
    position: relative;
    width: 100%;
    margin: auto;
    height: 20vh; /* Esto crea la mitad inferior de un círculo */
    background: var(--color-header);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius:10%;
    justify-content: center;
    z-index: -900;
  }